@import url('https://fonts.googleapis.com/css2?family=Delius&family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

nav{
    background-color: #AEE6E6;
    padding: 3rem;
    text-align: center;
}

nav h1{
    font-size: 4rem;
    text-align: center;
}

.Sun{
    padding: 6rem;
    border: 1px solid black;
    font-size: 2rem;
    text-align: center;
}

.men{
    background-color: #1A374D;
    color: white;
}

.women{
    background-color: #FF0000;
    color: white;
}

.kids{
    background-color: #FFCA03;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #AEE6E6;
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    color: black;
}
